.header {
  width: 100%;
  /* width: 1440px; */
  height: 600px;
  background-image: url('./assets/background.jpg');
  font-family: "Lato";
  /* margin: auto; */
}

.header__block {
  position: relative;
  text-align: center;
  color: #ffffff;
  top: 150px;
}

.header__block-title {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 900;
}

.header__block-intro {
  width: 500px;
  margin: auto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}