.product {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #263276;
  display: flex;
  filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.05));
  font-family: "Lato";
  height: 100px;
  justify-content: space-around;
  margin: auto auto 10px;
  overflow: hidden;
  text-align: center;
  width: 800px;
}

.product__checkbox {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #263276;
  border: 2px solid #263276;
}

.product__image {
  width: 90px;
  height: 60px;
}

.product__block {
  width: 515px;
  text-align: start;
}

.product__title {
  font-weight: bold;
  font-size: 18px;
  font-weight: 900;
}

.product__description {
  margin: 0px;
  width: 514px;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.product--special {
  background-color: #263276;
  color: #ffffff;
}

.product__description--special {
  font-weight: bold;
}